root = true

[*]
indent_style = tab
indent_size = 4
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[{CMakeLists.txt,CMakePresets.json,*.cmake}]
indent_style = space
indent_size = 2

[*.{bat,rc}]
end_of_line = crlf
